body {
  background: linear-gradient(to bottom, #668392, #58a8c5);
  font-family: 'Segoe UI', sans-serif;
}

.form-container {
  max-width: 800px;
  margin: 60px auto;
  background: #fff;
  padding: 40px 45px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.hospital-logo {
  width: 100px;
  margin-bottom: 15px;
}

h2 {
  font-weight: 700;
  margin-bottom: 5px;
}

.section-title {
  margin-top: 40px;
  font-weight: 600;
  padding-bottom: 6px;
}

.btn-submit {
  background-color: #001f54;
  color: white;
  width: 100%;
  margin-top: 30px;
  transition: 0.2s;
}

.btn-submit:hover {
  background-color: #002a73;
}

.hospital-logo {
  width: 90px;
  margin-bottom: 10px;
}
